body {
  background-color: #eee;
  font-family: "Raleway", sans-serif;
  margin: auto 0;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  position: fixed;
  font-size: 1.5em;
  display: flex;
  background-color: #eee;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 600px) {
   header {
    flex-wrap: wrap;
     justify-content: center;
  }
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding-left: 1em;
  padding-right: 1em;
}

#hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 8em;
}

@media (max-width: 600px) {
  #hero {
    padding-top: 10em;
    flex-wrap: wrap;
  }
  li {
    width: 100%;
    justify-content: center;
  }
}

#email {
  height: 20px;
  width: 20em;
  padding: 5px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#submit {
  height: 35px;
  width: 100px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  background-color: #6199fb;
  color: white;
  margin-top: 10px;
}

#features {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2em;
  margin-left: -2em;
}

#images {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: right;
  justify-content: space-around;
  color: #404040;

}

#description {
  display: block;
  text-align: left;
  width: 45%;
  padding-left: 5em;
}

#description2 {
display: block;
  padding: 1.5em;
}

#products {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#products > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  display: flex;
  margin-top: 5%;
  width: 100%;
  justify-content: center;
}

#product1 {
  border: solid 1.5px;
  width: 15%;
  margin-right: 5%;
  text-align: center;
  line-height: 150%;
}

#product2 {
  border: solid 1.5px;
  width: 15%;
  text-align: center;
  line-height: 150%;
}

#product3 {
  border: solid 1.5px;
  width: 15%;
  margin-left: 5%;
  text-align: center;
  line-height: 150%;
}

@media (max-width: 600px) {
  #pricing {
    flex-direction: column;
  }
  #product1, #product2, #product3 {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
}

h3 {
  background-color: #DCDCDC;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: auto;
  width: 99%;
}

#select {
  height: 3em;
  width: 7em;
  background-color: #6199fb;
  font-weight: bold;
  margin-bottom: 5%;
}

ol {
  list-style-type: none;
}

footer {
  background-color: #ddd;
  margin-top: 30px;
  padding: 10px;
}

footer > ol {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

footer > span {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  margin-right: 15px;
}